@tailwind base;

html, body {
    background-color: #121212;
    width: 100vw;
}

*{
    box-sizing: border-box
}

.button1{
    background: linear-gradient(90deg, #f97316, #92391b);
}

.button2{
    background: linear-gradient(to right, #f97316, #92391b);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blu{
    backdrop-filter: blur(15px)
}

@tailwind components;
@tailwind utilities;