@tailwind base;

html, body {
    background-color: #121212;
    width: 100vw;
}

*{
    box-sizing: border-box
}

.button1{
    background: linear-gradient(90deg, #f97316, #92391b);
}

.button2{
    background: linear-gradient(to right, #f97316, #92391b);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blu{
    backdrop-filter: blur(15px)
}

.menu{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.3s;
} 

.show-menu{
    transform: translateY(0)
}

@tailwind components;
@tailwind utilities;